<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myCRYPTO - {% block head_title %}myCRYPTO App{% endblock head_title %}</title>
    <link rel="stylesheet" href="/static/css/flat-remix.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body class="body">
    {% include 'components/header.html' %}
    {% include 'components/navbar.html' %}

    <main class="main">
        {% block page_title %}
        {% endblock page_title %}



        {% block contenido%}
        {% endblock contenido %}
    </main>

    {% include 'components/footer.html' %}

</body>

</html>