{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Compra
{% endblock head_title %}

{% block page_title %}
<h1 class="subtitulo">COMPRA DE CRIPTOS</h1>
{% endblock page_title %}

{% block contenido %}
<div>
    <div class="fila-compra">
        <div class="cuadro">
            <label for="menu-from">De:</label>
            <select class="menu-from" name="menu-from" id="menu-from">
                <option value="EUR">EUR</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option>
                <option value="ADA">ADA</option>
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option>
                <option value="DOT">DOT</option>
                <option value="DOGE">DOGE</option>
                <option value="SHIB">SHIB</option>
            </select>
        </div>
        <div class="cuadro cuadro2">
            <label for="menu-to">A:</label>
            <select class="menu-to" name="menu-to" id="menu-to">
                <option value="EUR">EUR</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option>
                <option value="ADA">ADA</option>
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option>
                <option value="DOT">DOT</option>
                <option value="DOGE">DOGE</option>
                <option value="SHIB">SHIB</option>
            </select>
        </div>
    </div>
    <div class="fila-compra">
        <div class="cuadro-q">
            <label for="cantidad-usuario">C:</label>
            <input type="number">
            <a href="">
                <img src="/static/icons/calculadora.png" alt="calculadora" width="40" height="40">
            </a>
        </div>
        <div class="cuadro-q">
            <label for="cantidad-cambio">C:</label>
            <span class="span-linea"></span>
        </div>
    </div>
    <div class="fila-compra">
        <div class="cuadro-pu"></div>
        <div class="cuadro-pu">
            <label for="precio-unitario">P.U:</label>
        </div>
    </div>
    <div class="fila-compra">
        <div class="cuadro-check pad"></div>
        <div class="cuadro-check pad">
            <a href="">
                <img src="/static/icons/cheque.png" alt="cheque" width="40" height="40">
            </a>
        </div>
    </div>
</div>
{% endblock contenido %}