{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Compra
{% endblock head_title %}

{% block page_title %}
<h1 class="subtitulo">COMPRA DE CRIPTOS</h1>
{% endblock page_title %}

{% block contenido %}
<label class="container" for="menu-from">From:</label>
<select class="container" id="menu-from">
    <option value="opcion1">Opción 1</option>
    <option value="opcion2">Opción 2</option>
    <option value="opcion3">Opción 3</option>
    <option value="opcion4">Opción 4</option>
</select>

<label class="container" for="menu-to">To:</label>
<select class="container" id="menu-to">
    <option value="opcion1">Opción 1</option>
    <option value="opcion2">Opción 2</option>
    <option value="opcion3">Opción 3</option>
    <option value="opcion4">Opción 4</option>
</select>

<div class="container">
    <label for="cantidad-usuario">Cantidad:</label>
    <input type="number">
</div>

<div class="container">
    <label for="equivale">Equivale:</label>
    <span class="i"></span>
</div>

<div class="container">
    <label for="precio-unitario">Precio unitario:</label>
</div>

{% endblock contenido %}