header {
    background-color: rgb(180, 180, 180);
    color: black;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: large;
    border-bottom: 2px solid black;
}

footer {
    background-color: rgb(180, 180, 180);
    color: black;
    padding-left: 10px;
    font-size: small;
    border-top: 2px solid black;
}

.navbar {
    padding: 10px;
}

.navbar .texto_nav {
    color: black;
}

.body {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.paper {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    margin-top: 0px;
}

.cabecera {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    text-align: center;
}

.dato {
    border-collapse: collapse;
    border-right: 2px solid rgb(180, 180, 180);
    text-align: center;
}

.main {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.subtitulo {
    text-align: center;
    margin-bottom: 0px;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.estado {
    padding-bottom: 40px;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-top: 5px;
}

.boton-edit {
    color: black;
    background-color: white;
}

.fila-compra {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.cuadro-m {
    flex: 1;
    text-align: center;
}

.cuadro-q {
    flex: 2;
    text-align: center;
}

.boton-cal {
    width: 60px;
    background-color: white;
}

.span-linea {
    display: inline-block;
    border-bottom: solid 1px black;
    min-width: 10rem;
}

.cuadro-pu {
    flex: 2;
    text-align: center;
}

.cuadro-check {
    flex: 2;
    text-align: center;
    padding-left: 350px;
}

.pad {
    padding-bottom: 70px;
}

.boton-check {
    background-color: white;
}

.boton-volver {
    display: flex;
    flex-direction: row;
}

.cuadro-boton {
    flex: 2;
    padding-left: 200px;
}

.texto-volver {
    color: black;
    background-color: white;
}

.bv {
    padding-bottom: 80px;
}

.container-estado {
    text-align: center;
}

.va {
    padding-top: 30px;
    padding-bottom: 30px;
}