header {
    background-color: rgb(180, 180, 180);
    color: black;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: large;
    border-bottom: 2px solid black;
}

footer {
    background-color: rgb(180, 180, 180);
    color: black;
    padding-left: 10px;
    font-size: small;
    border-top: 2px solid black;
}

.navbar {
    padding: 10px;
}

.navbar a:link,
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    color: black;
}

.body {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.paper {
    padding: -5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
}