header {
    background-color: rgb(180, 180, 180);
    color: black;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: large;
    border-bottom: 2px solid black;
}

footer {
    background-color: rgb(180, 180, 180);
    color: black;
    padding-left: 10px;
    font-size: small;
    border-top: 2px solid black;
}

.navbar {
    padding: 10px;
}

.navbar .texto_nav {
    color: black;
}

.body {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.paper {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    margin-top: 0px;
}

.cabecera {
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(180, 180, 180);
    text-align: center;
}

.dato {
    border-collapse: collapse;
    border-right: 2px solid rgb(180, 180, 180);
    text-align: center;
}

.main {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.subtitulo {
    text-align: center;
    margin-bottom: 0px;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.boton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-top: 5px;
}

.boton .boton-edit {
    color: black;
    background-color: white;
}

.boton-volver {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.boton-volver .texto-volver {
    color: black;
    background-color: white;
}

.container-estado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-estado .container-linea {
    min-width: 100px;

    border-width: 12px;
    border-style: solid;
    background-color: white;
    border-bottom: 2px solid black;
}